<script charset="UTF-8" type="text/javascript">

    dojo.require("dojox.form.Uploader");
    dojo.require("dojox.embed.Flash");
    dojo.require("dojox.form.uploader.FileList");
    dojo.require("dojo.data.ItemFileWriteStore");

    if(dojox.embed.Flash.available){
        dojo.require("dojox.form.uploader.plugins.Flash");
    }else{
        dojo.require("dojox.form.uploader.plugins.IFrame");
    }

</script>
<div dojoType="dojo.data.ItemFileReadStore" jsId="customerStore" url="/admin/customers"></div>
<form method="post" action="/admin/residential_uploader" id="uForm" enctype="multipart/form-data" >
    <fieldset>
        <legend style="margin: 6px;font-weight: bold; font-size: 14px; border-bottom: 1px solid #333;">Import Residential (.xls only)</legend>
        <h3>Expected format:</h3>
        <p><b>Customer Name, Address, City, State, State, Name, Zip, Email, Web Password, DID, Endpoint Password</b></p>
        <label class="fieldlabel_uploader">Customer:</label>
        <input dojoType="dijit.form.FilteringSelect"
               required="true" store="customerStore" value=""
               searchAttr="name" name="cust_id"/><br/>
        <input name="uploadedfile" multiple="true" type="file" data-dojo-type="dojox.form.Uploader" label="Select XLS File" id="uploader" />
        <input type="submit" label="Submit" data-dojo-type="dijit.form.Button" />
        <div id="files" data-dojo-type="dojox.form.uploader.FileList" uploaderId="uploader"></div>
    </fieldset>
</form>
