<!-- 
    This Source Code Form is subject to the terms of the Mozilla Public 
    License, v. 2.0. If a copy of the MPL was not distributed with this 
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Software distributed under the License is distributed on an "AS IS"
    basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
    License for the specific language governing rights and limitations
    under the License.

    The Original Code is FreePyBX/VoiceWARE.

    The Initial Developer of the Original Code is Noel Morgan, 
    Copyright (c) 2011-2013 VoiceWARE Communications, Inc. All Rights Reserved.
    
    http://www.vwci.com/ 
    
    You may not remove or alter the substance of any license notices (including
    copyright notices, patent notices, disclaimers of warranty, or limitations 
    of liability) contained within the Source Code Form of the Covered Software, 
    except that You may alter any license notices to the extent required to 
    remedy known factual inaccuracies.   
-->

<script charset="UTF-8" type="text/javascript">

    dojo.require("dijit.form.FilteringSelect");
    dojo.require("dojo.data.ItemFileReadStore");
    dojo.require("dijit.form.Form");
    dojo.require("dijit.dijit");
    dojo.require("dijit.form.DateTextBox");
    dojo.require("dijit.layout.ContentPane");
    dojo.require("dijit.form.TextBox");
    dojo.require("dijit.form.Textarea");
    dojo.require("dijit.form.Button"); 
    dojo.require("dojox.validate.web");
    dojo.require("dojox.validate._base");
    dojo.require("dijit.form.ValidationTextBox"); 
    
    var agentStore = new dojo.data.ItemFileWriteStore({url: '/call_center/agent_avail_endpoints?ext='+tmpObj.extension});
    
    function agentEditFormHandler() {
        if(dijit.byId("agent_edit_form").validate()) { 
            dojo.xhrPost({
                url: "/call_center/agent_edit",
                handleAs: "text",
                form: dojo.byId("agent_edit_form"),
        
                load: function(res) {
                    if (res.indexOf("Error") == -1) {
                        new voiceware.notice.Notice({message: res});
                        dijit.byId("callCenterContent").set("href", "/call_center/agent_list.html");
                    } else {
                        new voiceware.notice.Error({message: res});
                    }
                    return res;
                },
                error: function(err, ioArgs) {
                    new voiceware.notice.Error({message: err});
                    return err;
                }
            });    
        }
    }    
        
    function setAgentForm(obj) {    
        console.log(dojo.toJson(obj, true));
        dojo.byId("agent_id").value = obj.id;
        dijit.byId("agent_extension").set("value", obj.extension);
        dijit.byId("agent_timeout").set("value", obj.timeout);
        dijit.byId("agent_max_no_answer").set("value", obj.max_no_answer);
        dijit.byId("agent_wrap_up_time").set("value", obj.wrap_up_time);
        dijit.byId("agent_reject_delay_time").set("value", obj.reject_delay_time);
        dijit.byId("agent_busy_delay_time").set("value", obj.busy_delay_time);
        dijit.byId("agent_no_answer_delay_time").set("value", obj.no_answer_delay_time);
        dijit.byId("record_calls").set("value", obj.record_calls);
     }    
     
    function getAgentByID() {
        dojo.xhrGet({
            url: "/call_center/cca_by_id/"+tmpObj.id,
            handleAs: "json",
            load: function(res) {
                setAgentForm(res.items[0]);
                return res;
            },
            error: function(err, ioArgs) {
                new voiceware.notice.Error({message: res});
                return err;
            }
        });            
    }         
    
    dojo.addOnLoad(function() { 
         getAgentByID();
    });
 

</script>

<div dojoType="dojo.data.ItemFileReadStore" jsId="ccRouteStore" url="/pbx/routes"></div>
<div dojoType="dojo.data.ItemFileReadStore" jsId="agentAvailStore" url="/call_center/agent_avail_endpoints"></div>
<div dojoType="dojo.data.ItemFileReadStore" jsId="ccAudioStore" url="/call_center/agent_audio"></div>
<div dojoType="voiceware.PbxForm"
     data-dojo-props="title:'Edit Agent',legend:'Agent Settings',delStyle:'display:none', noticeClass: 'noNotice',
     formName:'agent_edit_form',helpCategory:'edit_profile', submitFunc:'agentEditFormHandler();',
     delFunc:'this.form.rest();'">
    <input type="hidden" name="agent_id" id="agent_id" value=""/>
    <ul class="field_list">
        <li class="even">
            <label class="fieldlabel" for="agent_extension">Extension</label>
            <input dojoType="dijit.form.FilteringSelect" required="true" store="agentStore" value="" id="agent_extension" searchAttr="name" name="extension">
        </li>
        <li class="odd">
            <label class="fieldlabel" for="agent_timeout">Timeout</label>
            <input type="text" id="agent_timeout" name="timeout" size="30"
                   dojoType="dijit.form.ValidationTextBox"  value="30"
                   required="true"
                   regExp="\b[0-9]{1,6}\b"
                   promptMessage="Please enter a valid number value."
                   invalidMessage="Invalid, must be an integer."
                   trim="true" />
        </li>
        <li class="even">
            <label class="fieldlabel" for="agent_max_no_answer">Max No Answer</label>
            <input type="text" id="agent_max_no_answer" name="max_no_answer" size="30"
                   dojoType="dijit.form.ValidationTextBox"  value="3"
                   required="true"
                   regExp="\b[0-9]{1,6}\b"
                   promptMessage="Please enter a valid number value."
                   invalidMessage="Invalid, must be an integer."
                   trim="true" />
        </li>
        <li class="odd">
            <label class="fieldlabel" for="agent_wrap_up_time">Wrap Up Time</label>
            <input type="text" id="agent_wrap_up_time" name="wrap_up_time" size="30"
                   dojoType="dijit.form.ValidationTextBox"  value="30"
                   required="true"
                   regExp="\b[0-9]{1,6}\b"
                   promptMessage="Please enter a valid number value."
                   invalidMessage="Invalid, must be an integer."
                   trim="true" />
        </li>
        <li class="even">
            <label class="fieldlabel" for="agent_reject_delay_time">Reject Delay Time</label>
            <input type="text" id="agent_reject_delay_time" name="reject_delay_time" size="30"
                   dojoType="dijit.form.ValidationTextBox"  value="20"
                   required="true"
                   regExp="\b[0-9]{1,6}\b"
                   promptMessage="Please enter a valid number value."
                   invalidMessage="Invalid, must be an integer."
                   trim="true" />
        </li>
        <li class="odd">
            <label class="fieldlabel" for="agent_busy_delay_time">Busy Delay Time</label>
            <input type="text" id="agent_busy_delay_time" name="busy_delay_time" size="30"
                   dojoType="dijit.form.ValidationTextBox"  value="30"
                   required="true"
                   regExp="\b[0-9]{1,6}\b"
                   promptMessage="Please enter a valid number value."
                   invalidMessage="Invalid, must be an integer."
                   trim="true" />
        </li>
        <li class="even">
            <label class="fieldlabel" for="agent_no_answer_delay_time">No Answer Delay Time</label>
            <input type="text" id="agent_no_answer_delay_time" name="no_answer_delay_time" size="30"
                   dojoType="dijit.form.ValidationTextBox"  value="30"
                   required="true"
                   regExp="\b[0-9]{1,6}\b"
                   promptMessage="Please enter a valid number value."
                   invalidMessage="Invalid, must be an integer."
                   trim="true" />
        </li>
        <li class="odd">
            <label class="fieldlabel" for="record_calls">Record Calls</label>
            <input id="record_calls" name="record_calls" dojoType="dijit.form.CheckBox" value="1" checked="false"/>
        </li>
    </ul>
</div>