<!-- 
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Software distributed under the License is distributed on an "AS IS"
    basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
    License for the specific language governing rights and limitations
    under the License.

    The Original Code is FreePyBX/VoiceWARE.

    The Initial Developer of the Original Code is Noel Morgan,
    Copyright (c) 2011-2013 VoiceWARE Communications, Inc. All Rights Reserved.

    http://www.vwci.com/

    You may not remove or alter the substance of any license notices (including
    copyright notices, patent notices, disclaimers of warranty, or limitations
    of liability) contained within the Source Code Form of the Covered Software,
    except that You may alter any license notices to the extent required to
    remedy known factual inaccuracies.
-->

<script charset="UTF-8" type="text/javascript">

    dojo.require("dijit.form.FilteringSelect");
    dojo.require("dojo.data.ItemFileReadStore");
    dojo.require("dijit.form.Form");
    dojo.require("dijit.form.DateTextBox");
    dojo.require("dijit.layout.ContentPane");
    dojo.require("dijit.form.TextBox");
    dojo.require("dijit.form.Button"); 
    dojo.require("dojox.validate.web");
    dojo.require("dojox.validate._base");
    dojo.require("dijit.form.FilteringSelect");
    dojo.require("dojo.data.ItemFileReadStore");
    

    function ccqHandler() {
        if(dijit.byId("ccq_add_form").validate()) { 
            dojo.xhrPost({
                url: "/call_center/ccq_add",
                handleAs: "text",
                form: dojo.byId("ccq_add_form"),
                load: function(res) {
                    if (res.indexOf("Error") == -1) {
                        new voiceware.notice.Notice({message: res});
                        dijit.byId("callCenterContent").set("href", "/call_center/cc_queues.html");
                    } else {
                        new voiceware.notice.Error({message: res});
                    }
                    return res;
                },
                error: function(err, ioArgs) {
                    new voiceware.notice.Error({message: err});
                    return err;
                }
            });    
        }
    }    
    
</script>

<div dojoType="dojo.data.ItemFileReadStore" jsId="ccRouteStore" url="/pbx/routes"></div>
<div dojoType="dojo.data.ItemFileReadStore" jsId="ccAudioStore" url="/call_center/ccq_audio"></div>
<div dojoType="dojo.data.ItemFileReadStore" jsId="audioStore" url="/pbx/ivr_audio"></div>
<div dojoType="dojo.data.ItemFileReadStore" jsId="adAudioStore" url="/call_center/ad_audio"></div>

<div dojoType="voiceware.PbxForm"
     data-dojo-props="title:'Add Call Center Queue',legend:'Queue Settings',delStyle:'display:none', noticeClass: 'noNotice',
     formName:'ccq_add_form',helpCategory:'add_ccq', submitFunc:'ccqHandler();',
     delFunc:'this.form.rest();'">
    <ul class="field_list">
        <li class="even">
            <label class="fieldlabel" for="name">Name</label>
            <input type="text" required="true" name="name" id="name"
                   dojoType="dijit.form.ValidationTextBox" missingMessage="Please provide a Queue name."/>
        </li>
        <li class="odd">
            <label class="fieldlabel">Enter Queue Audio</label>
            <input dojoType="dijit.form.FilteringSelect" required="true" store="audioStore" value=""
                   searchAttr="name" name="audio_name">
        </li>
        <li class="even">
            <label class="fieldlabel">Queue Music on Hold</label>
            <input dojoType="dijit.form.FilteringSelect" required="false" store="ccAudioStore" value=""
                   searchAttr="name" name="moh_sound">
        </li>
        <li class="odd">
            <label class="fieldlabel">Call Distribution Strategy</label>
            <select name="strategy" dojoType="dijit.form.Select">
                <option value="ring-all"> Ring All Simultaneously</option>
                <option value="longest-idle-agent" selected="selected"> Longest Idle Agent</option>
                <option value="round-robin"> Round Robin</option>
                <option value="top-down"> Top-down Tier Position</option>
                <option value="agent-with-least-talk-time"> Least Agent Talk Time</option>
                <option value="agent-with-fewest-calls"> Agent With Fewest Calls</option>
                <option value="sequentially-by-agent-order"> Sequentially by Agent Tier Order</option>
                <option value="random"> Completely Random</option>
            </select>
        </li>
        <li class="even">
            <label class="fieldlabel">Time Base Score</label>
            <select name="time_base_score" dojoType="dijit.form.Select">
                <option value="system" selected="selected"> Total Time in System</option>
                <option value="queue"> Time in Current Queue</option>
            </select>
        </li>
        <li class="odd">
            <label class="fieldlabel">Max Wait Time</label>
            <input type="text" name="max_wait_time" size="30"
                   dojoType="dijit.form.ValidationTextBox" value="300"
                   required="true"
                   regExp="\b[0-9]{1,6}\b"
                   promptMessage="Please enter a valid number value."
                   invalidMessage="Invalid, must be an integer."
                   trim="true"/>
        </li>
        <li class="even">
            <label class="fieldlabel">Max Wait Time No Agent</label>
            <input type="text" name="max_wait_time_with_no_agent" size="30"
                   dojoType="dijit.form.ValidationTextBox" value="1800"
                   required="true"
                   regExp="\b[0-9]{1,6}\b"
                   promptMessage="Please enter a valid number value."
                   invalidMessage="Invalid, must be an integer."
                   trim="true"/>
        </li>
        <li class="odd">
            <label class="fieldlabel">Max Wait Unavailable</label>
            <input type="text" name="max_wait_time_with_no_agent_reached"
                   size="30"
                   dojoType="dijit.form.ValidationTextBox" value="900"
                   required="true"
                   regExp="\b[0-9]{1,6}\b"
                   promptMessage="Please enter a valid number value."
                   invalidMessage="Invalid, must be an integer."
                   trim="true"/>
        </li>
        <li class="even">
            <label class="fieldlabel" >Tier Rules Apply</label>
            <input name="tier_rules_apply" dojoType="dijit.form.CheckBox" value="true"
                   checked="false"/>
        </li>
        <li class="odd">
            <label class="fieldlabel">Tier Rule Wait Time</label>
            <input type="text" name="tier_rule_wait_second" size="30"
                   dojoType="dijit.form.ValidationTextBox" value="300"
                   required="true"
                   regExp="\b[0-9]{1,6}\b"
                   promptMessage="Please enter a valid number value."
                   invalidMessage="Invalid, must be an integer."
                   trim="true"/>
        </li>
        <li class="even">
            <label class="fieldlabel">Tier Rule Multiply Level</label>
            <input name="tier_rule_wait_multiply_level"
                   dojoType="dijit.form.CheckBox" value="true" checked="false"/>
        </li>
        <li class="odd">
            <label class="fieldlabel">Skip Tier No Agent</label>
            <input name="tier_rule_agent_no_wait" dojoType="dijit.form.CheckBox"
                   value="true" checked="false"/>
        </li>
        <li class="even">
            <label class="fieldlabel">Discard Abandoned After</label>
            <input type="text"  name="discard_abandoned_after" size="30"
                   dojoType="dijit.form.ValidationTextBox" value="1800"
                   required="true"
                   regExp="\b[0-9]{1,6}\b"
                   promptMessage="Please enter a valid number value."
                   invalidMessage="Invalid, must be an integer."
                   trim="true"/>
        </li>
        <li class="odd">
            <label class="fieldlabel">Abandoned Resume</label>
            <input name="abandoned_resume_allowed" dojoType="dijit.form.CheckBox" value="true" checked="false"/>
        </li>
        <li class="even">
            <label class="fieldlabel" >Record All Calls</label>
            <input name="record_calls" dojoType="dijit.form.CheckBox" value="true" checked="false"/>
        </li>
        <li class="odd">
            <label class="fieldlabel" >Announce Position</label>
            <input name="announce_position" dojoType="dijit.form.CheckBox" value="true" checked="false"/>
        </li>
        <li class="even">
            <label class="fieldlabel" >Failed Call Destination</label>
            <input dojoType="dijit.form.FilteringSelect" required="true" store="ccRouteStore" value=""
                   searchAttr="name" name="failed_route_id">
        </li>
        <li class="odd">
            <label class="fieldlabel">Recurring Audio</label>
            <input dojoType="dijit.form.FilteringSelect" required="false" store="adAudioStore" value=""
                   searchAttr="name" name="announce_sound">
        </li>
        <li class="even">
            <label class="fieldlabel">Audio Frequency</label>
            <input type="text" name="announce_frequency" size="30"
                   dojoType="dijit.form.ValidationTextBox"
                   required="false" value="60"
                   regExp="\b[0-9]{1,4}\b" id="announce_frequency"
                   promptMessage="Please enter a valid number value."
                   invalidMessage="Invalid, must be an integer."
                   trim="true"/>
        </li>
    </ul>
</div>