<!-- 
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Software distributed under the License is distributed on an "AS IS"
    basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
    License for the specific language governing rights and limitations
    under the License.

    The Original Code is FreePyBX/VoiceWARE.

    The Initial Developer of the Original Code is Noel Morgan,
    Copyright (c) 2011-2013 VoiceWARE Communications, Inc. All Rights Reserved.

    http://www.vwci.com/

    You may not remove or alter the substance of any license notices (including
    copyright notices, patent notices, disclaimers of warranty, or limitations
    of liability) contained within the Source Code Form of the Covered Software,
    except that You may alter any license notices to the extent required to
    remedy known factual inaccuracies.
-->

<script type="text/javascript">

    var crmCampaignGrid;
    var crmCampaignStore = new dojo.data.ItemFileWriteStore({url: '/crm/campaigns'});

    var plugins = {
        pagination: true,
        filter: true,
        indirectSelection: true,
    };

    crmCampaignStore._saveCustom = function(saveComplete, saveFailed) {
        var changeSet = crmCampaignStore._pending;
        var changes = {};
        changes.modified = [];
        
        for (var i in changeSet._modifiedItems) {
            var item = null;
            if (crmCampaignStore._itemsByIdentity) {
                item = crmCampaignStore._itemsByIdentity[i];
            } else {
                item = crmCampaignStore._arrayOfAllItems[i];
            }
            changes.modified.push(itemToJS(crmCampaignStore, item));
        }

        if (changes.modified.length==0) {
            alert("Nothing to save!");
            saveComplete();
            return;
        }
        update_campaign_grid(dojo.toJson(changes, true));
        console.log(dojo.toJson(changes, true));            
        saveComplete();
    };        
        
    
    campaign_grid = function () {      
        var campaignLayout = [{
            name: 'Name',
            field: 'name',
            width: '30%',        
        },{       
            name: 'Campaign Group Members',
            field: 'members',
            editable: 'true',
            width: '70%'
        }];            
                
        crmCampaignGrid = new dojox.grid.EnhancedGrid({
            id: 'crmCampaignGrid',
            jsid: 'crmCampaignGrid',
            query: {id: '*'},
            store: crmCampaignStore,
            structure: campaignLayout,
            selectionMode: 'single',
            plugins: plugins,
            escapeHTMLInData: false,
            region: "center",
            autoHeight: true,            
        },document.createElement('div'));
        dojo.byId("crmCampaignGridDiv").appendChild(crmCampaignGrid.domNode);
        crmCampaignGrid.startup();
    }    
    
    function update_campaign_grid(obj) {
        dojo.xhrGet({
            url: "/crm/update_campaign_grid?data="+obj,
            handleAs: "text",
            load: function(res) {
                if (res.indexOf("Error") == -1) {
                    new voiceware.notice.Notice({message: res});
                } else {
                    new voiceware.notice.Error({message: res});
                }
                return res;
            },
            error: function(err, ioArgs) {
                new voiceware.notice.Error({message: err});
                return err;
            }
        });            
    }    

    dojo.addOnLoad(function() {   
        campaign_grid()
    });
</script>


<div style="border: 1px solid #c0c0c0;">
    <div dojoType="dijit.Toolbar" region="top">
        <button id="addCRMCampaignBtn" dojoType="dijit.form.Button" iconClass="plusIcon">
            Add Campaign
            <script type="dojo/method" event="onClick">
                dijit.byId("crmContent").set("href", "/crm/crm_campaign_add.html")
            </script>
        </button>
        <button id="saveCRMCampaignBtn" dojoType="dijit.form.Button" iconClass="dijitIconSave">
            Save
            <script type="dojo/method" event="onClick">
                crmCampaignStore.save();
            </script>
        </button>            
        <button id="delCRMCampaignBtn" dojoType="dijit.form.Button" iconClass="dijitIconDelete">
            &nbsp;Delete
            <script type="dojo/method" event="onClick">                    
                var del_crm_campaign = crmCampaignGrid.selection.getSelected()[0];
                        
                dojo.xhrGet({
                    url: "/crm/del_campaign?name="+del_crm_campaign.name,
                    handleAs: "text",
                    load: function(res) {
                        if (res.indexOf("Error") == -1) {
                            new voiceware.notice.Notice({message: res});
                            dijit.byId("mainContent").set("href", "/crm/crm_campaigns.html")
                        } else {
                            new voiceware.notice.Error({message: res});
                        }
                        return res;
                    },
                    error: function(err, ioArgs) {
                        new voiceware.notice.Error({message: err});
                        return err;
                    }
                });            
                </script>
            </button>
        </div>
     <div id="crmCampaignGridDiv" style="width: 100%; height: 100%;"></div>
</div>


