/*
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Software distributed under the License is distributed on an "AS IS"
    basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
    License for the specific language governing rights and limitations
    under the License.

    The Original Code is FreePyBX/VoiceWARE.

    The Initial Developer of the Original Code is Noel Morgan, VoiceWARE, Inc.
    Copyright (c) 2011-2013 VoiceWARE, Inc. All Rights Reserved.

    http://www.vwci.com/

    You may not remove or alter the substance of any license notices (including
    copyright notices, patent notices, disclaimers of warranty, or limitations
    of liability) contained within the Source Code Form of the Covered Software,
    except that You may alter any license notices to the extent required to
    remedy known factual inaccuracies.

*/

html{color:#000}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,th,var,optgroup{font-style:inherit;font-weight:inherit}
del,ins{text-decoration:none}
li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
legend{color:#000}

input,button,textarea,select,optgroup,option{font-family:inherit;font-size:75%;font-style:inherit;font-weight:inherit}
input,button,textarea,select{*font-size:100%}
body{font:13px/1.231 'helvetica neue',arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small}
select,input,button,textarea,button{font:75% arial,helvetica,clean,sans-serif}
table{font-size:inherit;font:75%}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:75%;line-height:100%}


html, body, #app_main {
    background-color: #13395e;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
    font-size: smaller;
    color: #000;
}

#vwbroker {background-color: #13395e;}

#add_service_wizard {
    width: 800px;
    background-color: rgba(127, 199, 250, 0.36);
}

.logo_img {
    margin-top: 6px;
    margin-left: 40px;
}

.mnu_login {
    float: right;
    text-align: center;
    margin-right: 30px
}

#email_top h4{
    margin-left: 20px;
    color: #777;
}

.welcome {
    text-shadow:#111 0px .5px 0, #000 0 -.5px 0;
    color: #c7c7c7;
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
}

.logoutIcon {
    width: 16px;
    background: transparent url(/images/error.png) no-repeat center center;
}

.prefsIcon {
    width: 16px;
    background: transparent url(/images/prefs.png) no-repeat center center;
}

.qlIcon {
    width: 16px;
    background: transparent url(/images/ql.png) no-repeat center center;
}

.extensionIcon {
    width: 16px;
    background: transparent url(/images/extension.png) no-repeat center center;
}
.virtualIcon {
    width: 16px;
    background: transparent url(/images/virtual.png) no-repeat center center;
}

.recordingIcon {
    width: 16px;
    background: transparent url(/images/recording.png) no-repeat center center;
}

.conferenceIcon {
    width: 16px;
    background: transparent url(/images/conference.png) no-repeat center center;
}

.plusIcon {
    width: 16px;
    background: transparent url(/images/plus.png) no-repeat center center;
}

.timeIcon {
    width: 16px;
    background: transparent url(/images/time.png) no-repeat center center;
}

.ttsIcon {
    width: 16px;
    background: transparent url(/images/tts.png) no-repeat center center;
}

.plusIcon {
    width: 16px;
    height: 16px;
    background: transparent url(/images/plus.png) no-repeat;
    background-position: 0px;
}

.editIcon {
    width: 16px;
    height: 16px;
    background: transparent url(/images/modify.png) no-repeat;
    background-position: 0px;
}

.directoryIcon {
    width: 16px;
    height: 16px;
    background: transparent url(/images/directory.png) no-repeat;
    background-position: 0px;
}

.disaIcon {
    width: 16px;
    height: 16px;
    background: transparent url(/images/dial.png) no-repeat;
    background-position: 0px;
}

.dashboardIcon {
    width: 16px;
    height: 16px;
    background: transparent url(/images/dashboard.png) no-repeat;
    background-position: 0px;
}

.queueIcon {
    width: 16px;
    height: 16px;
    background: transparent url(/images/queue.png) no-repeat;
    background-position: 0px;
}

.agentIcon {
    width: 16px;
    height: 16px;
    background: transparent url(/images/agent.png) no-repeat;
    background-position: 0px;
}

.tierIcon {
    width: 16px;
    height: 16px;
    background: transparent url(/images/tier.png) no-repeat;
    background-position: 0px;
}

.reportingIcon {
    width: 16px;
    height: 16px;
    background: transparent url(/images/report.png) no-repeat;
    background-position: 0px;
}

.bookIcon {
    width: 16px;
    height: 16px;
    background: transparent url(/images/book.png) no-repeat;
    background-position: 0px;
}

.warnIcon {
    width: 16px;
    height: 16px;
    background: transparent url(/images/warning.png) no-repeat;
    background-position: 0px;
}

.reportIcon {
    width: 16px;
    height: 16px;
    background: transparent url(/images/report.png) no-repeat;
    background-position: 0px;
}

.didIcon {
    width: 16px;
    height: 16px;
    background: transparent url(/images/did.png) no-repeat;
    background-position: 0px;
}

.contextIcon {
    width: 16px;
    height: 16px;
    background: transparent url(/images/context.png) no-repeat;
    background-position: 0px;
}

.profileIcon {
    width: 16px;
    height: 16px;
    background: transparent url(/images/profile.png) no-repeat;
    background-position: 0px;
}

.gatewayIcon {
    width: 16px;
    height: 16px;
    background: transparent url(/images/gateway.png) no-repeat;
    background-position: 0px;
}

.companyIcon {
    width: 16px;
    height: 16px;
    background: transparent url(/images/company.png) no-repeat;
    background-position: 0px;
}

.adminIcon {
    width: 16px;
    height: 16px;
    background: transparent url(/images/admin.png) no-repeat;
    background-position: 0px;
}

.reloadIcon {
    width: 16px;
    height: 16px;
    background: transparent url(/images/reload.png) no-repeat;
    background-position: 0px;
}

#vwbroker {
    background-color: #13395e;
    display: none;
    width: 1px;
    height: 1px;
}

#mini_help
{
    width: 170px;
    margin-top: 30px;
    padding: 10px;
    border-style: solid;
    border-color: #999999;
    border-width: 1px;
    color: #555555;
    background-color: #fffccc;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}

#main, #logo, #logo_pane {
    background: rgb(56,150,201); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(56,150,201,1) 0%, rgba(35,83,138,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(56,150,201,1)), color-stop(100%,rgba(35,83,138,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(56,150,201,1) 0%,rgba(35,83,138,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(56,150,201,1) 0%,rgba(35,83,138,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(56,150,201,1) 0%,rgba(35,83,138,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(56,150,201,1) 0%,rgba(35,83,138,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3896c9', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */

}

#tabs {
    background-color: #13395e;
}

p {
    margin: 0 0 1em 0;
}
a:link, a:visited, .link, .clickable, .link {
    color: #3372a0;
    text-decoration: none;
}
a:hover, a:active, .link:hover, .clickable:hover, .link:hover {
    color: #1380cf;
    text-decoration: underline;
}
h1 {
    font-size: 18px;
    text-shadow: 0 1px #fff;
}

ul.bullets > li,
ol.bullets > li {
    list-style: disc outside none;
    margin-left: 16px;
}
ul.numbers > li,
ol.numbers > li {
    list-style: decimal outside none;
    margin-left: 21px;
}

.box {
    background: #fff;
    border-left: 1px solid #b4bac3;
    border-right: 1px solid #b4bac3;
    border-bottom: 1px solid #b4bac3;
    color: #3c4d5a;
    position: relative;
}
.box-head,
.box-foot {
    background: #d2d7df url('/images/web2/box-head.png') repeat-x top;
    color: #3c4d5a;
    padding: 5px;
    border-top: 1px solid #b4bac3;
    overflow: hidden;
}
.box-head.clearfix {
    overflow: visible;
}
.box-head {
    border-bottom: 1px solid #b4bac3;
    clear: both;
}
.box-head small {
    font-size: 12px;
}
.box-head .box-head-sec {
    font-size: 13px;
    line-height: 18px;
    float: right;
    margin: 3px 3px;;
    color: #878685;
}
.box-head h1 {
    float: left;
    margin-bottom:10px;
    margin-left: 20px;
}
.box-head #add-btn {
    margin: -1px 0 -3px 10px;
    float: right;
}
.box-content {
    padding: 10px;
}
table.box-content {
    padding: 0;
}
.box-content .textfield,
.box-content .textarea,
.box-content .xhtmltextarea,
.box-content .passwordfield,
.rounded-inputs .textfield,
.rounded-inputs .textarea,
.rounded-inputs .xhtmltextarea,
.rounded-inputs .passwordfield {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
}

.box-content .singleselectfield,
.rounded-inputs .singleselectfield  {
    padding: 4px 2px 2px 2px;
}
.box-content .singleselectfield option,
.rounded-inputs .singleselectfield option {
    padding-bottom: 1px;
}

.box-round {
    position: relative;
}
.box-round-top-lft, .box-round-top-rgt, .box-round-bot-lft, .box-round-bot-rgt {
    position: absolute;
    width: 5px;
    height: 5px;
}
.box-round-bot-lft, .box-round-bot-rgt {
    height: 6px;
}
.box-round-top-lft {    top: 0;  left: 0; background-image: url('/images/web2/box-top-left.png'); }
.box-round-top-rgt {    top: 0; right: 0; background-image: url('/images/web2/box-top-right.png'); }
.box-round-bot-lft { bottom: 0;  left: 0; background-image: url('/images/web2/box-bottom-left.png'); }
.box-round-bot-rgt { bottom: 0; right: 0; background-image: url('/images/web2/box-bottom-right.png'); }
.box-round-bot-mid {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background: url('/images/web2/box-bottom.png') repeat-x;
}

.box-error {
    background: #d1e4f2 url('/images/web2/error.png') no-repeat 10px 45%;
    padding: 10px 10px 10px 34px;
}

.box > table {
    background: #fff;
    width: 100%;
    color: #3c4d5a;
}
.box > table tr td {
    vertical-align: middle;
    padding: 10px;
    border-top: 1px solid #b3c4d0;
}

.box > table > tr:first-child > td,
.box > table > thead:first-child > tr:first-child td {
    border-top: 0;
}

.box > table > *:first-child > tr:first-child > * {
    border-top: 0;
}

.box > table > thead > tr > th,
.box > table > tbody > tr.thead-row td {
    background: #d0e9f7 url('/images/web2/table-head.png') repeat-x top;
    color: #627789;
    width: 100%;
    border-top: 1px solid #b3c4d0;
    font-size: 108.5%;
    font-weight: bold;
    text-shadow: 0em 1px #fff;
    vertical-align: middle;
    padding: 10px;
    white-space: nowrap;
}
.box > table > tbody > tr.thead-row td h3 {
    padding-top: 3px;
    font-size: 18px;
    font-weight: bold;
}


.form .form_field,
.form .form_label {
    margin: 10px;
}
.form .form_label label {
    font-size: 108%;
    font-weight: bold;
    color: #3c4d5a;
}
.form .field_error,
.form .fielderror {
    color: #eb4c4c;
}
.form .fielderror {
    padding: 5px 0;
    margin-left: 10px;
    display: block;
    float: left;
}
.form .form_field {
    padding-right: 12px;
}
.form .field-list > li {
    clear: both;
    width: 100%;
    overflow: hidden;
}
.form .field-list > li.clearfix {
    overflow: visible;
}
.form #author_name_container,
.form #author_email_container {
    width: 50%;
    float: left;
    clear: none;
}
.details_fieldset legend {
    font-size: 18px;
    font-weight: bold;
    color: #3c4d5a;
    margin: 10px 10px 0 0;
}
.details_fieldset .fieldlabel,
.details_fieldset .fieldhelp {
    text-align: right;
margin-left: 30px;
    margin-right: 10px;
    float: left;
    font-weight: normal;
    display: block;
    vertical-align: middle;

}
.details_fieldset .fieldhelp {
    width: auto;
}
.details_fieldset > ul > li {
    margin-bottom: 5px;
    padding: 5px 0;
    clear: both;
}
label .field_help {
    font-weight: normal;
    font-size: 12px;
    color: #5d7485;
    margin-bottom: 5px;
}

.btn-edit-art {
    text-indent: -1000px;
    cursor: pointer;
    border: 0;
    height: 34px;
    width: 171px;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.btn-edit-art {
    background-image: url('/images/web2/edit-image.png');
}

.thumb {
    margin: 0 auto 10px auto;
    border: 1px solid #b4bac3;
    width: 160px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 3px;
}
.thumb img {
    display: block;
}

.category-box {
    overflow: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 150px;
}
.category-box li {
    padding-bottom: 5px;
}
.category-box li input {
    width: auto;
}

.form-saving,
.form-saved,
.form-save-error {
    margin: 0 10px;
    line-height: 34px;
}
.form-saving {
    background: url('/images/web2/spinner.gif') no-repeat 0 50%;
    padding-left: 20px;
    color: #878685;
}
.form-saved {
    color: #609f00;
    text-shadow: 0 -1px #fff;
}
.form-save-error {
    color: red;
}

.form .field-list li.slug-minimized {
    clear: none;
    width: auto;
    overflow: visible;
    font-size: 12px;
    position: relative;
}
.form .field-list li.slug-minimized .form_label,
.form .field-list li.slug-minimized .form_field {
    position: absolute;
    top: 0;
    right: 0;
}

#footer {
    background-color: #366c99;
}

#footer span {
    float:right;
    margin-right: 100px;
    font-weight: bolder;
    color: #acacac;
}

.admin_context{
    margin: 0;
    background-color: rgba(112, 164, 191, 0.23);

}
.width_box {
    width: 600px;
}

.form_outer {
    margin: 20px;
    width: 600px;
}


body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
body {
    font: 13px /1.231 'helvetica neue', arial, helvetica, clean, sans-serif;
}

button.btn::-moz-focus-inner {
    border: 0;
    padding: 0;
}


.btn {
    height: 33px;
    border: 0;
    margin: 0;
    padding: 0;
    background: url('/images/web2/btn-grey-left.png') no-repeat 0 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px #fff;
    font: bold 14px arial, helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.btn,
a.btn:link,
a.btn:visited {
    color: #3c4d5a;
}
.btn:hover, .btn.hover {
    text-decoration: none;
}
.btn span {
    display: block;
    height: 33px;
    margin-left: 5px;
    padding: 0 12px 0 7px;
    -: 32px;
    background: url('/images/web2/btn-grey-right.png') no-repeat 100% 0;
}
.btn:hover, .btn.hover { background-position: 0 -33px }
.btn:active, .btn.active { background-position: 0 -66px }
.btn:hover span, .btn.hover span { background-position: 100% -33px }
.btn:active span, .btn.active span { background-position: 100% -66px }

.btn.green {
    color: #fff;
    text-shadow: 0 -1px #398400;
    background-image: url('/images/web2/btn-green-left.png');
}
.btn.green span {
    background-image: url('/images/web2/btn-green-right.png');
}

.btn.blue {
    color: #fff;
    text-shadow: 0 -1px #2869c6;
    background-image: url('/images/web2/btn-blue-left.png');
}
a.btn.blue:link,
a.btn.blue:visited {
    color: #fff;
}
.btn.blue span {
    background-image: url('/images/web2/btn-blue-right.png');
}

.btn.red {
    color: #fff;
    text-shadow: 0 -1px #780000;
    background-image: url('/images/web2/btn-red-left.png');
}
a.btn.red:link,
a.btn.red:visited {
    color: #fff;
}
.btn.red span {
    background-image: url('/images/web2/btn-red-right.png');
}

.btn.inline {
    height: 26px;
    font-size: 12px;
    background-image: url('/images/web2/btn-inline-left.png');
}
.btn.inline,
.btn.inline:link,
.btn.inline:visited {
    color: #3C4D5A;
}
.btn.inline span {
    height: 26px;
    line-height: 26px;
    background-image: url('/images/web2/btn-inline-right.png');
}
.btn.inline:hover, .btn.inline.hover { background-position: 0 -26px }
.btn.inline:active, .btn.inline.active { background-position: 0 -52px }
.btn.inline:hover span, .btn.inline.hover span { background-position: 100% -26px }
.btn.inline:active span, .btn.inline.active span { background-position: 100% -52px }



.btn.blue {
    background-image: url("/images/web2/btn-blue-left.png");
    color: #FFFFFF;
    text-shadow: 0 -1px #2869C6;
}
.goog-inline-block, .btn {
    display: inline-block;
    position: relative;
}
.clickable, .link, .btn, button {
    cursor: pointer;
}
.f-rgt {
    float: right;
}
.btn, a.btn:link, a.btn:visited {
    color: #3C4D5A;
}
.btn {
    background: url("/images/web2/btn-grey-left.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    font: bold 14px arial, helvetica, sans-serif;
    height: 33px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px #FFFFFF;
}

select, input, button, textarea, button {
    font: 100% helvetica, clean, sans-serif !important;
}

input, button, textarea, select {
}

input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
fieldset, img {
    border: 0 none;
}

li {
    list-style: none outside none;
}
.details_fieldset legend {
    color: #3C4D5A;
    font-size: 108%;
    font-weight: bold;
    margin: 10px 10px 0 0;
}

.form .field-list > li.clearfix {
    overflow: visible;
}
.form .field-list > li {
    clear: both;
    overflow: hidden;
    width: 100%;
}

body {
    font: 13px /1.231 'helvetica neue', arial, helvetica, clean, sans-serif;
}
.details_fieldset legend {
    color: #3C4D5A;
    font-size: 108%;
    font-weight: bold;
    margin: 10px 10px 0 0;
}
.legend {
    color: #000000;
}


td[headers='h-btns'] {
	white-space: nowrap;
}

.hidden { display: none; }
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.f-lft { float: left; }
.f-rgt { float: right; }
.clear { clear: both }

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

* html .clearfix { height: 1% }
.clickable, .link, .btn, button { cursor: pointer; }
.unclickable { cursor: default; }
.italic {
	font-style: italic;
	color: #adaba3;
}
.block {
	display: block;
}

/* Google Closure Library crossbrowser inline-block */
.goog-inline-block,
.btn {
	position: relative;
	display: -moz-inline-box; /* Ignored by FF3 and later. */
	display: inline-block;
}
* html .goog-inline-block,
* html .btn {
	display: inline;
}
*:first-child+html .goog-inline-block,
*:first-child+html .btn {
	display: inline;
}
.block {
	display: block;
}

.help div {
    background-color: #FFF;
    width: 400px;
    height: 100%;
    margin: 20px;
    font-family: SANS-SERIF;
    font-size: 11px;
    color: #000;

}

.help h3 {
    font-size: 14px;
    font-weight: bold;
    color: #777;
    margin-top: -5px;
}

.help p {
    margin-top: -4px;
    line-height: 90%;
}

.help hr {
    margin-top: -4px;
}

.fieldlabel {
    width: 170px;
    text-align: right;
    float: left;
    vertical-align: middle;
    padding-right: 10px;
}

.ticketTitle {
    width: 100%;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    background-color: rgb(224, 224, 224);
    height: 40px;
    margin: 0;
}

.ticketTitle h3 {
    margin-left: 20px;
    vertical-align: middle;;
}

.ticketContent {
    width: 700px;
    background-color: rgba(128, 201, 252, 0.38);
    margin-top: 10px;
    border:1px solid #b5bcc7;
    border-radius:3pt;
    -moz-border-radius:3pt;
    -webkit-border-radius:4pt;
    -o-border-radius:4pt;
    -ms-border-radius:4pt;
}

.ticketContent h3 {
    margin-left: 20px;
}

.ticketContent p {
    margin-height: -10px;
    margin-left: 20px;
}

.res_date {
    color: red;
    float: right;
    margin-right: 20px;
    margin-top: -20px;
}

.btnSub {
    float: right;
    margin-right: 20px;
}
