<!-- 
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Software distributed under the License is distributed on an "AS IS"
    basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
    License for the specific language governing rights and limitations
    under the License.

    The Original Code is FreePyBX/VoiceWARE.

    The Initial Developer of the Original Code is Noel Morgan,
    Copyright (c) 2011-2013 VoiceWARE Communications, Inc. All Rights Reserved.

    http://www.vwci.com/

    You may not remove or alter the substance of any license notices (including
    copyright notices, patent notices, disclaimers of warranty, or limitations
    of liability) contained within the Source Code Form of the Covered Software,
    except that You may alter any license notices to the extent required to
    remedy known factual inaccuracies.
-->

<script>
    dojo.require("dojo.io.script");
    dojo.require("dojo.parser");
    dojo.require("dijit.dijit");
    dojo.require("dijit.form.Button");
    dojo.require("dijit.Dialog");
    dojo.require("dijit.Toolbar");
    dojo.require("dijit.form.TextBox");
    dojo.require("dijit.form.Textarea");
    dojo.require("dijit.form.DateTextBox");
    dojo.require("dijit.form.TimeTextBox");
    dojo.require("dijit.layout.TabContainer");
    dojo.require("dijit.layout.ContentPane");
    dojo.require("dojox.grid.EnhancedGrid");
    dojo.require("dojox.grid.enhanced.plugins.Menu");

    function update_rec_name(data) {
        var output_msg = dojo.byId("output_message");
        dlg_rec.hide();

        dojo.xhrPost({
            url:"/pbx/recording_name",
            handleAs:"text",
            form:dojo.byId("recording_name"),

            load:function (res) {
                if (res.indexOf("Error") == -1) {
                    new voiceware.notice.Notice({message:"Recording name changed."});
                    dijit.byId("mainContent").set("href", "/pbx/recordings_list.html");
                } else {
                    new voiceware.notice.Error({message:res});
                }
                return res;
            },
            error:function (err, ioArgs) {
                new voiceware.notice.Error({message:err});
                return err;
            }
        });

    }    
    
    function delete_recording() {
        var del_rec = recGrid.selection.getSelected()[0];
        dojo.xhrPost({
            url: "/pbx/delete_recording?name="+del_rec.name,
            handleAs: "text",
            load: function(res) {
                if (res.indexOf("Error") == -1) {
                    new voiceware.notice.Notice({message: res});
                    dijit.byId("mainContent").set("href", "/pbx/recordings_list.html")
                } else {
                    new voiceware.notice.Error({message: res});
                }
                return res;
            },
            error: function(err, ioArgs) {
                new voiceware.notice.Error({message: err});
                return err;
             }
        });    
    }       
    
    function recListen(data,name) {
        recd = dijit.byId("recDlg");
        recd.set("title","Recording: "+name);
        document.getElementById("recDiv").innerHTML = '<embed src="'+data+'" width="400" height="27" autostart=false loop=false></embed>';
        recd.show();
    }       
    
</script>
<div dojoType="dijit.layout.BorderContainer" gutters="false" style="border: 1px solid #c0c0c0;">
    <div dojoType="dijit.Toolbar" region="top">
        <button id="addRecBtn" dojoType="dijit.form.Button" iconClass="dijitIconNewTask">
            Add Recording
            <script type="dojo/method" event="onClick">
                dijit.byId("mainContent").set("href", "/pbx/recording_add.html")
            </script>            
        </button>
        <button id="delRecBtn" dojoType="dijit.form.Button" iconClass="dijitIconDelete">
            &nbsp;Delete
            <script type="dojo/method" event="onClick">
                delete_recording();
            </script>
        </button>
    </div>
    <div dojoType="dojo.data.ItemFileWriteStore" jsId="recStore" id="recStore" url="/pbx/recordings"></div>
    <table dojoType="dojox.grid.EnhancedGrid" editable="true"
        plugins="{dnd: {copyOnly: true, dndConfig:{out:{row: true, cell: false}}}, indirectSelection: true}"
        region="center" minSize="20"
        jsId="recGrid"
        id="recGrid"
        store="recStore"
        autoHeight="true"
        query="{name:'*'}"
        style="min-height: 10px;width: 100%">
        <thead>
            <tr>
                <th field="name" width="50%">Name</th>
                <th field="modified" width="30%">Modified</th>
                <th field="size" width="20%">Size</th>
            </tr>
        </thead>
        <script type="dojo/connect" event="onRowDblClick" args="e">
            // <!--
            //<![CDATA[
                
                 recListen(dijit.byId("recGrid")._getItemAttr(e.rowIndex, 'tpath'),dijit.byId("recGrid")._getItemAttr(e.rowIndex, 'name'));

            // ]]>
            // -->
        </script>
    </table>
</div>


<div dojoType="dijit.Dialog" id="recDlg" >
    <div id="recDiv" style="text-align:center">
    </div>
</div>


